# Sanity.io Configuration (Free Tier)
# Get your Project ID at https://www.sanity.io/manage
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2024-03-01
PUBLIC_SANITY_USE_CDN=true
